:host {
  .row {
    margin: 0;
  }
  .apply-form {
    input[type=checkbox] {
      display: none;
    }
    input[type=radio] {
      display: none;
    }

    h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 2em;
    color :rgb(224, 56, 60);
    margin: 30px 0;
    }

    span.option {
    background-color: #373740;
    border-radius: 50px;
    font-weight: 700;
    color: #FFF;
    font-size: .85em;
    letter-spacing: 4px;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    padding: 15px 25px;
    cursor: pointer;
    display: block;
    margin: 0 3px;
    width: 100%;
    transition: background-color 150ms ease-in;
    }

    span.option:hover {
    background-color: rgb(224, 56, 60);
    }

    input[type=checkbox]:checked + span.option, input[type=radio]:checked + span.option {
    background: #ff5847 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX9JREFUeNpi+P//PwMNsS4QbwBiLnQ5WlqqAsRP/0PARiBmoYfFkkB8+z8qWALEjLS0mB+IL/3HDibSymJQXB7/jx/UgNSCvU4lwAbEG4DYkwi1WUxUspQZiOcRaSkIWOAKMk0Sg3jaf+IBOIVjMyQWiH8DsR+RljaTYOkBWJ5GNwRk2R+ooh9A7ETA0jwSLL0ATfEYqRpkyVc0xR+A2AyHpdFA/I9IS0F5WhRbAWIEtQQbeAXE6lhC5jeRlj4GYgVsRaYK1HBCmmWgmuyxhAwu8BpaXjNgs/gYkYbcAGIXPCGDDkCOM8eVPkCEFhE+JhX8BGJnfAkTxgC57BOVLAXlihBC2RA9Vf+k0FJQKk8nJv+jCwQi5WNyQAWxpR02wRQS8icy6CKlmMUlUUGipfOQK3lKLAbhdhIKfWZS6258kiAfzCZg6V4gZiOn0UBIAcgn63BYehK50Ke2xQxQH+3FUoqJUtJMIlYhLxAfxVJu09xiWENuMxCrUaNhCBBgAOAVfjALa5TLAAAAAElFTkSuQmCC) no-repeat 7% center;
    background-size: 15px 13px;
    }

    input[type=checkbox]:checked:hover + span.option {
    color: rgba(255,255,255,0.5);
    background: #dd5244 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAS5JREFUeNq8110OgjAMAGBGvIY3VESjt9jPg95PT+LccBIZ7dYOWJPGB+g+Ymg3hLW2QeLkcu/y2pSFdvl0eQevehjI3uXbfkMh96TShFq/xhG6J4faAtxEtSBOQTm4QWpnOBWl4CZT69fuYpiCpnBDrB1xLhrjgoFO8F1oGcFslUv4bV32zFoxmOHJta0XMn65dC0UaiddA8UGiN4axeC1cUkdmWviEls/NwL1FqjPNtNvoimPdC3yRCUTiTXbt0R/oSnw2iiK10BBvBY6w2uiE3xJr8oFtcrvxy/fVcyeVdGx98yotcOxN/znHeMUIhdMOG8c4reagssF43VEoT5O4ZJwvNUUFJtcEE5BMXyGpnanf5yDxjiI+hSJj7YunEBvhbuTCh9tD+jiR4ABAJ0SrJgNr1UAAAAAAElFTkSuQmCC) no-repeat 7% center;
    background-size: 15px 15px;
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(224, 56, 60);
    padding: 35px;
    z-index: 999;

    &.blue {
      background: rgb(12, 126, 200);
      transition: .5s;
    }
    &.red {
      background: rgb(224, 56, 60);
      transition: .5s;
    }

    &.applicationer {
      transition: .5s;
    }
    &.apply {
      transition: .5s;
    }

    .apply-button {
      width: 100%;
      display: block;
      cursor: pointer;
    }
  }
  .robot {
    background:url('/assets/images/robot1.png') no-repeat top left;
    width: 300px;
    height: 400px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  .app-title {
    width: 100%;
    color: #fff;
    text-transform: uppercase;

    &.text-center {
      text-align: center;
    }
  }
  .about-gridium {
    width: 100%;
  }
  .apply-form {
    padding-bottom:150px;
    .text-left {
      text-align: left;
    }
    .text-right {
      text-align: right;
    }
  }

  @media only screen and (max-width: 960px) {
    .robot {
        visibility: hidden;
    }
  }

  @media only screen and (max-width: 540px) {
    .robot {
        visibility: hidden;
    }
    .tech-label {
      text-align: center;
    }
  }
}
