:host {
    .thank-you {
        width: 75%;
        color: #fff;
        margin: 150px auto 0px auto;
        padding: 150px 0px;
        position: relative;
        background-color: rgb(12, 126, 200);
        border-radius: 500px;
        background-image:url('/assets/images/robot1.png');
        background-position: bottom right;
        background-repeat: no-repeat;

    }
}