<div class="headline">
  <h1 class="text-center">{{job.headline}}</h1>
</div>

<div class="row">
  <div class="gridium-about">
    <h4>What we're about:</h4>
  </div>
  <div class="container company-size">
    <div class="row">
      <div class="col-sm-6">Company Size</div>
      <div class="col-sm-6">{{job.essentials.companysize | camelToHuman}}</div>
    </div>
  </div>
</div>
<div class="row footer">
  <div class="robot"></div>
  <h1 class="app-title text-center">Gridium Job Applicationer</h1>
</div>
