* {
    box-sizing: border-box;    
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    text-align: center;
}
.headline {
    font-size: 27px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.headTitle {
    background-color: #0083c2;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    transition: background-color 0.5s #0083c2;
}
.headTitle:hover {
    background-color: #004177;
    cursor: pointer;
}
.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}
#jobContainer {
    margin: 0 auto;
}
.logo {
    border: 1px solid #EAF0F4;
    border-radius: 5px;
    padding: 25px; 
    margin-bottom: 25px;
}
table {
    width: 100%;
    border-spacing: 0px;
}
.right {
    text-align: left;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #EAF0F4;
    padding-left: 5px;
}

.left {
    text-align: right;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #EAF0F4;
    padding-right: 5px;
}
.masonryItem { 
    width: 400px;
    margin-bottom: 25px;

    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: '' 0 1px 1px rgba(0, 0, 0, 0.2) 1px 2px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: '' 0 1px 1px rgba(0, 0, 0, 0.2) 1px 2px rgba(0, 0, 0, 0.2);
         -o-box-shadow: '' 0 1px 1px rgba(0, 0, 0, 0.2) 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: '' 0 1px 1px rgba(0, 0, 0, 0.2) 1px 2px rgba(0, 0, 0, 0.2);
}
.category:hover {
    -moz-box-shadow:0px 0px 50px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow:0px 0px 50px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow:0px 0px 50px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}



