:host {
    nav {
        padding: 10px;
        .nav-button {
            background-color: rgb(224, 56, 60);
            color: #fff;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 50px;
        }
    }
}

body {
    background-color: #f5f5f5;
}