/* * * Header Styles * * */

.logo {
  width: 100px;
  display: inline-block;
  position: absolute;
  z-index: 2;
  margin-top: 0.938em; /* 15px ÷ 16px */
  left: 50%;
  margin-left: -50px;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .logo {
    width: 130px;
    margin-left: -65px;
  }
}

.header-top {
  height: 80px;
  background: #4a4a4a;
}

.nav-backing {
  background: #eaf0f4;
}

.header-nav {
  height: 160px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
  display: none;
}

.header-nav-mobile {
  height: 160px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
  background: url('../images/buildings-vector-pattern.jpg');
}

/* 720px ÷ 16px */
@media screen and (min-width: 45em) {
  .header-nav {
    display: flex;
    flex-direction: row;
  }

  .header-nav-mobile {
    display: none;
  }
}
