<div class="container">
    <div class="jumbotron">
        <div class="container text-center">
            <h2 class="display-3 text-white">The {{job.headline}} challenge.</h2>
            <p class="lead text-white">Who's the better fit for Gridium, me or some rando? Let's find out!</p>
        </div>
    </div>
    <h3>I've pitted myself against another randomly-generated applicant. . . </h3>
    <div class="text-center">
        <h3 class="">And the winner is:</h3>
        <h1 class="bg-success">{{winner}}</h1>
        <p ng-if="winner == 'William Caldwell'"><i>(that's me)</i></p>
        <hr/>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3><strong>Here's how this was decided:</strong> For each contestant, a profile was made that outlined some of the same catagories that were supplied by Gridium, such as desired employment type, technical abilities, etc. For each entry, if what the applicant is seeking or their proficiency matches that of Gridium, one point is awarded.</h3>
            <h3>The applicant with the most points (and I promise, it's not always me) wins!</h3>
        </div>
        <div class="col-sm-6">
            <img class="img-fluid center-block top-margin-20" src="https://media.giphy.com/media/26ybxqF6r4w1pjjws/giphy.gif">
        </div>
    </div>
    <hr/>
    <h3>Here's the stats:</h3>
    <div class="row">
        <div ng-repeat="entity in contestArray">
            <div class="col-sm-6">
                <div ng-repeat="(catagory, subcatagory) in entity">
                    <h4 ng-if="catagory == 'name'">{{subcatagory}}</h4>
                    <div ng-if="catagory != 'name'" ng-repeat="(key, value) in subcatagory track by $index">
                        <p ng-if="key != 'testing' && key != 'framework'">{{key}}: {{value}}</p>
                        <div ng-if="key == 'testing' || key == 'framework'" ng-repeat="(subkey, subvalue) in value track by $index">
                            <p ng-repeat="(product, experience) in subvalue track by $index">{{product}}: {{experience}}</p>
                        </div>
                    </div>
                </div>
                <h4 ng-if="entity == me">Final Score: {{myScore}}</h4>
                <h4 ng-if="entity != me">Final Score: {{otherScore}}</h4>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg full-width top-bottom-margin-20" onClick="window.location.reload()">Run the challenge again</button>
</div>