<div class="container">
    <div class="jumbotron">
        <div class="container text-center">
            <h2 class="display-3">The {{job.headline}} challenge.</h2>
            <p class="lead">Who's the better fit for Gridium, me or some rando? Let's find out!</p>
        </div>
    </div>
    <h3>I've pitted myself up against another randomly-generated applicant. . . </h3>
    <h3>and the winner is:</h3>
    <h1 class="text-center bg-success">{{winner}}</h1>
    <hr/>
    <p><strong>Here's how this was awarded:</strong> For each contestant, if what the applicant is seeking or their proficiencies matched that of Gridium, one point was awarded.</p>
    <img class="img-fluid center-block" src="https://media.giphy.com/media/26ybxqF6r4w1pjjws/giphy.gif">
    <p>The person with the most points wins!</p>
    <hr/>
    <p>Here's the stats:</p>
    <div class="row">
        <div ng-repeat="entity in contestArray">
            <div class="col-sm-6">
                <div ng-repeat="(catagory, subcatagory) in entity">
                    <h4 ng-if="catagory == 'name'">{{subcatagory}}</h4>
                    <div ng-if="catagory != 'name'" ng-repeat="(key, value) in subcatagory track by $index">
                        <p ng-if="key != 'testing' && key != 'framework'">{{key}}: {{value}}</p>
                        <div ng-if="key == 'testing' || key == 'framework'" ng-repeat="(subkey, subvalue) in value track by $index">
                            <p ng-repeat="(product, experience) in subvalue track by $index">{{product}}: {{experience}}</p>
                        </div>
                    </div>
                </div>
                <h4 ng-if="entity == me">Final Score: {{myScore}}</h4>
                <h4 ng-if="entity != me">Final Score: {{otherScore}}</h4>
            </div>
        </div>
    </div>
</div>