/* * * HeaderPanel Styles * * */

.header-panel {
  width: 33.33%;
  height: 100%;
}

.panel-img {
  width: 100%;
  height: 100%;
  transition: all 1.5s ease;
}

.panel-img:hover {
  width: 120%;
  height: 120%;
}
