/* * * PageHeader Styles * * */

.heading-block {
  text-align: center;
  background: #eaf0f4;
  padding: 2.50em 0; /* 40px รท 16px */
}

h1 {
  color: #e2670f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; /* Semi-bold */
  margin: 0;
}

h2 {
  color: #00a1e0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; /* Light */
  margin: 0;
  text-transform: uppercase;
}

span.line {
  width: 15%;
  height: 1px;
  background: #4a4a4a;
  display: inline-block;
  margin: 1.25em 0; /* 20px รท 16px */
}
